:root{
  --primary-bg-White:#ffffff;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: 'Roboto', sans-serif;  
}

.cursor-pointer{
  cursor: pointer;
}


/*========================================================= {Navbar} ===================================================*/
.navbar{
  background-color: var(--primary-bg-White);
  color: black;
}

.navbar img{
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.navbar .round-icon{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #ffffff;
}

.MobileBar-container{
  background-color: #fbfafa;
  color: black;
}

/*=================================== {Home} ======================================*/
.carousel img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.Lets-start-container img{
   height: 30px;
}

.Lets-start-container p{
  font-size: xx-small;
}

.Doctor-img-container{
  width:100%;
  background-color: rgb(254, 202, 244);
}

.Doctor-container img,
.Hotspital-container img{
  height: 200px;
  object-fit: contain;
}

.Hotspital-img-container{
  width:100%;
  background-color: rgb(202, 254, 251);
}

/*==================================={get-start} ======================================*/
.get-start img{
  max-width: 90vw;
   height: 50vh;
}

.get-start button{
  width: 350px;
}

/*===================================== {Auth} ===============================================*/
.SignIn-Container,
.SignUp-Container{
  height: 90vh !important;
}

.SignIn-Container i,
.SignUp-Container i{
  color: rgb(5, 212, 212);
}


/*===================================== {Media query} ===========================*/
@media screen and (min-width: 480px)  {
  .carousel img{
    height: 220px;
  }
  .Lets-start-container img{
    height: 50px;
 }
 .Lets-start-container p{
  font-size: small;
  font-weight: 600;
 }
}

@media screen and (max-width: 480px)  {
  .Lets-start-container h5{
  font-size: small ;
 }
 .get-start button{
  width: 80vw;
}
}

@media screen and (min-width: 992px){
  .carousel img{
    height: 300px;
  }
}