:root {
  --primary-bg-White: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Roboto", sans-serif;
}

.scrollable {
  overflow-y: scroll
}

.scrollable::-webkit-scrollbar {
  width: 2px
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555
}

.scrollable {
  scrollbar-color: #888 #e0e0e0;
  scrollbar-width: thin
}

.cursor-pointer {
  cursor: pointer;
}

.error-icon{
  color: rgb(209, 1, 1);
}



/*========================================================== {Navbar} ===================================================*/
.navbar {
  background-color: var(--primary-bg-White);
  color: black;
}

.navbar img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.navbar .round-icon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #ffffff;
}

.MobileBar-container {
  background-color: #fbfafa;
  color: black;
}




/*============================================================= {Home} =======================================================*/
.carousel img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.Lets-start-container img {
  height: 30px;
}

.Lets-start-container p {
  font-size: xx-small;
}

.Doctor-img-container {
  width: 100%;
}

.Doctor-container img,
.Hotspital-container img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.Hospital-Banner img{
  height: 50vh;
  width: 100%;
  object-fit: cover, fill, contain;
}

.Hotspital-img-container {
  width: 100%;
  background-color: rgb(202, 254, 251);
}

.Hotspital-img-container img{
  object-fit: cover;
}

.doctor-img-bg-1{
  background-color: rgb(254, 202, 244);
}
.doctor-img-bg-2{
  background-color: rgb(202, 224, 254);
}
.doctor-img-bg-3{
  background-color: rgb(202, 254, 220);
}
.doctor-img-bg-4{
  background-color: rgb(241, 254, 202);
}
.doctor-img-bg-5{
  background-color: rgb(202, 248, 254);
}
.doctor-img-bg-6{
  background-color: rgb(224, 202, 254);
}

.Footer-container{
  background-color: rgb(13, 13, 20);
}

/*====================================================== {get-start} =============================================================*/
.get-start img {
  max-width: 90vw;
  height: 50vh;
}

.get-start button {
  width: 350px;
}


/*========================================================== {Auth} ===============================================*/
.SignIn-Container,
.SignUp-Container {
  height: 90vh !important;
}

.SignIn-Container i,
.SignUp-Container i {
  color: rgb(5, 212, 212);
}



/*========================================================== {Doctor Detail} ======================================================*/
.DoctorDetail-Banner img {
  height: 200px;
}

.DoctorDetail-Banner .position-absolute {
  top: 30%;
  left: 40%;
}

.DoctorDetail-Name i {
  color: rgb(221, 221, 5);
}

.DoctorDetail-left-container .btn-Appointment,
.btn-RequestAppointment{
  width: calc(100% - 16px);
  font-size: large;
  font-weight: 600;
  position: fixed;
  bottom: 0;
}

/*==================================================== {PatientsAppointment Detail} =================================================*/
.AppointmentBill-form .form-control{
   border: none; 
}

.AppointmentBill-form .form-control:hover,
.AppointmentBill-form .form-control:focus-visible{
  border: none; 
  box-shadow: none;
}

.AppointmentBill-Patientdetails,
.AppointmentBill-payment,
.AppointmentBill-promocode,
.AppointmentBill-name,
.AppointmentBill-container{
  background-color: var(--primary-bg-White);
}


/*============================================================= {Appointmentcard} ===========================================*/
.Appointmentcard-img-container{
  width: 100px;
}

.Appointmentcard-img-container img{
  width: 100%;
}

.Missed-Appointment,
.Upcomming-Appointment,
.Past-Appointment{
  height: 76vh;
}

.MyAppointment-container .count-icon {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

/*================================================================= {Media query} ===========================================*/
@media screen and (min-width: 480px) {
  .carousel img {
    height: 320px;
  }
  .Lets-start-container img {
    height: 50px;
  }
  .Lets-start-container p {
    font-size: small;
    font-weight: 600;
  }
}

@media screen and (max-width: 480px) {
  .Lets-start-container h5 {
    font-size: small;
  }
  .get-start button {
    width: 80vw;
  }
  .DoctorDetail-Banner img {
    height: 100px;
  }
  .position-absolute h5 {
    font-size: small;
  }
  .position-absolute p {
    font-size: xx-small;
  }
  .Hospital-Banner img{
    height: 30vh;
  }
}

@media screen and (min-width: 720px) {
  .btn-RequestAppointment {
    width: calc(30% - 40px);
    font-size: large;
    font-weight: 600;
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .carousel img {
    height: 70vh;
  }
}
