:root{
  --primary-bg-White:#ffffff;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'Roboto', sans-serif;  
}


/*========================================================= {Navbar} ===================================================*/
.navbar{
  background-color: var(--primary-bg-White);
  color: black;
}

.navbar img{
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.navbar .round-icon{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #ffffff;
}

.MobileBar-container{
  background-color: #fbfafa;
  color: black;
}

/*=================================== {carousel} ======================================*/
.carousel img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}


/*==================================={get-start} ======================================*/
.get-start img{
  max-width: 90vw;
   height: 50vh;
}

.get-start button{
  width: 350px;
}

/*===================================== {Auth} ===============================================*/
.SignIn-Container,
.SignUp-Container{
  height: 90vh !important;
}

.SignIn-Container i,
.SignUp-Container i{
  color: rgb(5, 212, 212);
}


/*===================================== {Media query} ===========================*/
@media screen and (min-width: 480px)  {
  .get-start button{
    width: 80vw;
  }
  .carousel img{
    height: 220px;
  }
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 992px){
  .carousel img{
    height: 300px;
  }
}


@media screen and (min-width: 1280px){

} 